<div>
  <h2>Available products:</h2>
  {{#each product}}
    <div>
      <p><strong>Title:</strong> {{this.title}}</p>
      <p><strong>Description:</strong> {{this.description}}</p>
      <p><strong>Code:</strong> {{this.code}}</p>
      <p><strong>Price:</strong> {{this.price}}</p>
      <p><strong>Stock:</strong> {{this.stock}}</p>
      <p><strong>Category:</strong> {{this.category}}</p>
      <hr>
    </div>
  {{/each}}
</div>

<script src="/js/index.js"></script>